.subjectHeader{
  font-family: sans-serif;
  color: purple;
}

#scoreBoard,td {
  border: 2px solid black;
}

th{
  border: 2px solid black;
  color: red;
}

li{
  list-style-type: square;
}

a:hover {
  background-color: black;
  text-decoration: none;
}
blockquote{
  background-color: navy;
  color: yellow;
}

#teamRoster>li:first-child{
background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg") no-repeat;
background-size: contain;
}

#teamRoster>li:last-child{
  background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg") no-repeat;
  background-size: contain;
}

#checkbox-grid >li{
  list-style-type: none;
}
#teamRoster>li>img{
  display: none;
}
